<h1 class="mb-1 restaurant-show-title">會員註冊</h1>

<form action="/users/register" method="POST" id="new-form" class="mx-auto">
  <small style="color:#4592af;">必填欄位*</small>
  <div class="container" id="new-form-container">
    <div class="row">

      <div class="form-group col-12">
        <label for="name" class="font-weight-bold">姓名:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="請輸入姓名" value="{{name}}">
      </div>

      <div class="form-group col-12">
        <label for="email" class="font-weight-bold">*Email:</label>
        <input type="email"
          class="form-control {{#if_oneIsTrue errors.email errors.isEmailRegistered}}is-invalid{{/if_oneIsTrue}}"
          id="email" name="email" placeholder="請輸入Email" value="{{email}}" required>
        {{#if errors.email}}
        <div class="invalid-feedback">
          {{errors.email}}
        </div>
        {{/if}}
        {{#if errors.isEmailRegistered}}
        <div class="invalid-feedback">
          {{errors.isEmailRegistered}}
        </div>
        {{/if}}
      </div>

      <div class="form-group col-12">
        <label for="password" class="font-weight-bold">*密碼:</label>
        <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password"
          name="password" placeholder="請輸入密碼" value="{{password}}" required>
        {{#if errors.password}}
        <div class="invalid-feedback">
          {{errors.password}}
        </div>
        {{/if}}
      </div>

      <div class="form-group col-12">
        <label for="confirm-password" class="font-weight-bold">*確認密碼:</label>
        <input type="password"
          class="form-control {{#if_oneIsTrue errors.confirmPassword errors.isPasswordConfirmed}}is-invalid{{/if_oneIsTrue}}"
          id="confirm-password" name="confirmPassword" placeholder="請再輸入一次密碼" value="{{confirmPassword}}" required>
        {{#if errors.confirmPassword}}
        <div class="invalid-feedback">
          {{errors.confirmPassword}}
        </div>
        {{/if}}
        {{#if errors.isPasswordConfirmed}}
        <div class="invalid-feedback">
          {{errors.isPasswordConfirmed}}
        </div>
        {{/if}}
      </div>

    </div>

    <button type="submit" class="btn btn-primary d-block mx-auto" onclick="return confirm('所有欄位都已填?')">送出</button>

  </div>
</form>

<div class="wrapper mt-2 mb-5 text-center">
  已有帳號?
  <a href="/users/login">登入</a>
</div>